
{% block body %}
    <h2>ページが表示できませんでした。</h2>
    <div id="wrapper">
        <div id="contentsbody">
            <div style="text-align: left">
                <p>システムエラーが発生した可能性があります。</p>
                <p>URLをもう一度ご確認いただくか、TOPページより目的のページをお探しください。</p>
                <p>サイトが開かない場合は、誠に申し訳ありませんがしばらくたってから、再度お試しください。</p>
            </div>
        </div><!-- end contentsbody -->
    </div><!-- end wrapper -->
{% endblock %}