{% block body %}

    <h2>ご利用ガイド</h2>


    商品の注文方法
    トップページから配送してほしい商品を検索し，クリックしてください．商品の画面には商品名，生産者名，価格，出荷時期，商品の詳細が記載されています．商品の配送数を選択し，商品の注文の確定をクリックしてください．
    ユーザー情報の送信方法
    住所，お名前，性別，年齢，メールアドレス，電話番号を入力してください．
    支払い方法
    支払い方法はクレジットカード決済です．ご利用可能なクレジットカードは下記の5つです．過去に使用したクレジットカードにつきましては，ベットカード情報の入力は不要です．クレジットカード決済を初めてご利用の方，別のクレジットカードをご利用の方は，新しいクレジットカード情報をご登録ください．完了後，ご登録のメールアドレスに「ご注文内容およびクレジット決済完のご案内」をお知らせするメールが送信されますので，必ずご確認ください．
    【ご注意】お支払いは「一括払い」のみとなります．分割払いには対応しておりません．クレジットカードのご利用は，ご本人または会社様名義のカードに限らせていただきます．
    配送
    指定の宅配便にてお届けします．商品出荷のご連絡時に，配送業者と問い合わせ番号をメールにてご連絡いたします．
    【ご注意】①連携している農家より直接配送するため，ご注文いただいた商品に応じて，梱包数・梱包方法が異なる場合もございますが，予めご了承ください．
    ②商品や物量に応じて配送業者が変わるため，お客様に配送業者をご指定いただくことはできません．
    ③「配送日時」をご指定いただくことはできません．
    ④配送が船便となる場合がございます．その場合，多少遅れる可能性がございます．
{% endblock %}